:root {
  --back-color: #333;
  --back-color-header: #222;
  --back-color-panel: #444;
  --text-color: #FFF;
  --text-color-subtle: #888;

  --gray-0: #000;
  --gray-1: #222;
  --gray-2: #333;
  --gray-3: #444;
  --gray-4: #666;
  --gray-5: #888;
  --gray-6: #AAA;
  --gray-7: #CCC;
  --gray-8: #EEE;
  --gray-9: #FFF;

  --fnt-size-1: 14px;
  --fnt-size-2: 16px;
  --fnt-size-3: 24px;
  --fnt-size-4: 32px;
  --fnt-size-5: 48px;
  --thumb-width: 400px;
  --thumb-height: 500px;
  --gap: 10px;
}
